.specialty-index.block {
  border-top: 1px solid var(--border-color);
  padding-top: 24px;
  margin-top: 8px;
}

.specialty-index .specialty-index-list {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 64px;
}

.specialty-index .specialty-index-list li {
  break-inside: avoid;
  margin: 0 0 18px;
}

.specialty-index .specialty-index-list a:any-link {
  color: var(--brand-blue);
  text-decoration: underline;
  font-size: 17px;
}

.specialty-index .specialty-index-list a:hover {
  color: var(--link-hover-color);
}

@media (width < 700px) {
  .specialty-index .specialty-index-list {
    column-count: 1;
  }
}
